html, body {
    width: 100%;
    height: 100%; 
    background: #0F182C ;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%; /* Set container to take up full height of viewport */
    margin: 20px;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%; /* Set right-side to take up full height of container */
}

.right-side img {
    width: 80%;
    height: auto;
    border-radius:50%; 
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, .9); /* horizontal-offset vertical-offset blur-radius color */

}
h1{
    color: #ccc;
    font-size: xx-large;

}
h4{
    color: #b15709;
    font-size: larger;
}



h2 {
    color: #ccc;
}

.ingredients,.instructions{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0); 
    background: linear-gradient(to right, #0F182C, #27355A, #0F182C);
    padding: 14px;
    margin: 14px;
}

.instructions p {
    color: #ccc;
    font-weight:50px;
    font-size: 16px;
    font-family:serif ;
    padding-bottom: 4px;
}
.ingredients ul{
    color: #ccc;
    font-weight:50px;
    font-size: 16px;
}
.ingredients i{
    margin: 4px;
    color: #b15709;
}

.youtube-link {
    margin-top: 20px;
    text-align: center;
}

.youtube-button {
    background-color: #FF0000; /* YouTube red */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.youtube-button:hover {
    background-color: #CC0000; /* Darker red on hover */
    transform: fade in;
}

.youtube-button i {
    margin-right: 5px;
}
.favorite {
    margin-top: 20px;
}

.favorite-button {
    background-color:#27355A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.favorite-button:hover {
    background-color: #CC0000;
}

.favorite-button i {
    margin-right: 5px;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

}


