<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/static/css/categories.css">

</head>
<body>
    <div class="container">
        <h1>Categories</h1>
        <div class="category-container">
            {% for category in categories %}
            <div id="category-card" class="category-card"  data-id="{{ category['strCategory'] }}">
                <img src="{{ category['strCategoryThumb'] }}" alt="{{ category['strCategory'] }}" class="category-image">
                <div class="category-details">
                    <h2 id="category-name">{{ category['strCategory'] }}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="/static/js/categories.js"></script>
</body>

</html>