<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <section>
        <nav>
            <div id="logo">
                <img src="/static/images/logo.svg" alt="webSite-logo">
            </div>
            <div id="about-web">
                <input id="logout-button" type="button" value="Logout">
                <input id="delete-account" type="submit" value="Delete My Account">
            </div>
        </nav>
        <section id="about">
            <p>Discover a world of flavorful recipes at Recipe Hub.</p>
        </section>
        <div class="container-pag1">
            {% if recipes %}
            <div id="left-home">
                <div id="recipe-card" onclick="scrollToRecipe()">
                    <img src="{{ recipes[1].strMealThumb }}" alt="{{ recipes[1].strMeal }}">
                    <div id="recipe-details">
                        <h2 class="str-name">See More </h2>

                    </div>
                </div>                
                                <div class="category-card" id="category-card">
                    <img src="/static/images/categories.svg" alt="explore categories" class="category-image">
                    <div class="category-details">
                        <h2 class="str-name">See more categories</h2>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="recipy-home-image">
                <img src="/static/images/recipy-home.svg" alt="recipe-img">
            </div>
        </div>
    </section><br>
    <section>
        <div id="recipes-container">
            {% for recipe in recipes %}
            <div class="recipe-list-card"  data-id = "{{recipe['idMeal']}}">
                <img src="{{ recipe['strMealThumb'] }}" alt="{{ recipe['strMeal'] }}" class="recipe-image">
                <div class="recipe-details">
                    <h2 class="str-name">{{ recipe['strMeal'] }}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    
    <script src="/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>


</html>