{% extends "navBar.html" %}
{% block navbar %}

{{ super() }}

{% endblock %}
{% block body %}  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <section>

        <section id="about">
            <p>Discover a world of flavorful recipes at Recipe Hub.</p>
        </section>
        <div class="container-pag1">
            {% if recipes %}
            <div id="left-home">
                <div id="recipe-card" onclick="scrollToRecipe()">
                    <img src="{{ recipes[1].strMealThumb }}" alt="{{ recipes[1].strMeal }}">
                    <div id="recipe-details">
                        <h2 class="str-name">See more recipes </h2>

                    </div>
                </div>
                <div class="category-card" id="category-card">
                    <img src="/static/images/categories.svg" alt="explore categories" class="category-image">
                    <div class="category-details">
                        <h2 class="str-name">See more categories</h2>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="recipy-home-image">
                <img src="/static/images/recipy-home.svg" alt="recipe-img">
            </div>
        </div>
    </section><br>


    <section>
        <div id="recipes-container" class="row">
            {% for recipe in recipes %}
            {% if loop.index % 6 == 1 %}
            <div class="row">
            {% endif %}
            
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 recipe-list-card" id="" data-id="{{recipe['idMeal']}}">
                <img src="{{ recipe['strMealThumb'] }}" alt="{{ recipe['strMeal'] }}" class="recipe-image img-fluid">
                <div class="recipe-details">
                    <h2 class="recipe-name">{{ recipe['strMeal'] }}</h2>
                </div>
            </div>
    
            {% if loop.index % 6 == 0 or loop.last %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="/static/js/script.js"></script>

</body>


</html>
{% endblock %}