<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre Page</title>
    <link rel="stylesheet" href="/static/css/auth.css"
</head>
<body>
    <div class="image-container">
        <img src="/static/images/logo.svg" alt="Image" class="logo">
    </div>
    <div class="container">
        
        <div class="form-container">
            <h2>Login</h2>
            <form action="/signup" method="post">
                <input type="text" name="username" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
            </form>
            <div class="login-link">
            Don't have an account? <a href="/signUp">Sign Up here</a>
            </div>
        </div>
    </div>
    

</body>
</html>