{% block nav %}
  <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="/static/css/navBar.css">
  <title></title>

  <head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="#">
        <img src="/static/images/logo.svg" alt="webSite-logo">
      </a>
      <button class="navbar-toggler" id="nav-togger" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link disabled" id="user-email" ></a>
          <a class="nav-item nav-link " id="home" href="#">Home </a>
          <a class="nav-item nav-link"  id="fav-recipe" href="#" >Favourite</a>
          <a class="nav-item nav-link"  id="logout-button"  href="#">Logout</a>
          <a class="nav-item nav-link" id="delete-account" href="#">Delete My Account </a>
        </div>
      </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
    <script src="/static/js/nav.js"></script>
    {% endblock %}
{% block body %}
{% endblock %}
  </body>

</html>