<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>
    <div class="image-container">
        <img src="/static/images/logo.svg" alt="Image" class="logo">
    </div>
    <div class="container">
        <div class="form-container">
            <h2>Sign Up</h2>
            <form id="signup-form" action="/signUp" method="post">
                <input type="text" name="username" placeholder="Username" required>
                {% if validation_message %}
                    <span class="warning">{{ validation_message }}</span><br>
                {% endif %}
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required><br>
                <input type="submit" value="Sign Up">
            </form>
            <div class="login-link">
                Already have an account? <a href="/">Login here</a>
            </div>
        </div>
    </div>

    <script src="signup.js"></script>
</body>
</html>